target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# idea
.idea
*.iml
*.ucls
/bin/
.classpath
.project
.settings
test-output

*.png
*.html
*.log

src/test/resources/web-drivers/
allure-results/
chromedriver.exe
allure-report

